<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de Consultas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="container">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="http://localhost:8080/paciente/list" class="btn btn-primary">Lista de Pacientes</a>
        <a href="http://localhost:8080/medico/list" class="btn btn-primary">Lista de Médicos</a>
        <a href="http://localhost:8080/consulta/list" class="btn btn-primary">Lista de Consultas</a>
    </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>


